.candy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vmin;
    width: 15vmin;
}

.container {
  position: absolute;
  text-align: center;
  bottom: 0;
}

.hr {
  color:#A61600; 
  height: 3px; 
  background-color: #A61600;
  width: 100%;
  
}
/*.position1 {
  left: 10px;
}

.position2 {
  left: 220px;
}

.position3 {
  left: 440px;
}

.position4 {
  left: 660px;
}

.position5 {
  left: 880px;
}

.position6 {
  left: 1100px;
}*/