.giverInterface {
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-image:url("http://image.noelshack.com/fichiers/2018/44/3/1540978570-groupemonstres.png");
}
